@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
        <div id="bannerprodutos">
            <img src="~/images/vegetais.jpg" />
        </div>
</header>


<body>

    <div id="descricao">
        <h1 id="headervegebio">Bem vindo à VegeBio</h1>
        <h4 id="headerquem">Quem somos ?</h4>
        <p id="pquemsomos">
            Somos uma empresa sediada em portugal desde 2001 fundada por Pedro Azevedo<br />
            e Guilherme Silva. A VegeBio foi a primeira empresa em Portugal especializada<br />
            em alimentação biológica e hoje é uma marca de referência nacional.

            <h4 id="legumesheader">Legumes</h4>
        <p id="plegumes">
            Relativamente a legumes,possuímos uma panóplia bastante vasta. Os nossos <br />
            legumes são de origem nacional, sendo os nossos principais fornecedores <br />
            oriundos do Alentejo e Torres Vedras. O mercado dos biológicos é um <br />
            mercado cada vez mais procurado em Portugal sendo a nossa companhia <br />
            uma das mais requisitadas.

            <h4 id="=frutasheader">Frutas</h4>
        <p id="pfrutas">
            Ao nível das frutas, a nossa companhia é cada vez mais procurada <br />
            para colaborar com empresas dedicadas à alimentação líquida. Esta <br />
            enorme procura só demonstra a qualidade dos nossos produtos. Somos <br />
            neste setor, a empresa que mais tempo dedica à produção e controlo <br />
            dos produtos.
        </p>

    </div>


</body>







